<!DOCTYPE html>

<html
 
lang="pt-br">

<head>

  
<meta
 
charset="UTF-8">

  
<meta
 
name="viewport"
 
content="width=device-width, initial-scale=1.0">

  
<title>Dashboard</title>

</head>

<body>

  
<header>

    
<h1>Dashboard</h1>
    <nav>
      <a href="#">Admin</a>
      <a href="#">Entradas de Stock recentes</a>
      <a href="#">Saidas de stock recentes</a>
      <a href="#">Produção de Equipamentos</a>
      <a href="#">Vendas de Equipamentos</a>
      <a href="#">Gestão de Clientes</a>
      <a href="#">Logout</a>
    </nav>
  </header>
  <main>
    <section class="entradas">
      <h2>Entradas de Stock recentes</h2>
      <table>
        <thead>
          <tr>
            <th>Componente</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Componente 1</td>
            <td>20 unidades</td>
          </tr>
          <tr>
            <td>Componente 2</td>
            <td>10 unidades</td>
          </tr>
          <tr>
            <td>Componente 3</td>
            <td>10 unidades</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="saidas">
      <h2>Saidas de stock recentes</h2>
      <table>
        <thead>
          <tr>
            <th>Componente</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Componente 1</td>
            <td>20 unidades</td>
          </tr>
          <tr>
            <td>Componente 2</td>
            <td>10 unidades</td>
          </tr>
          <tr>
            <td>Componente 3</td>
            <td>10 unidades</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="componentes-em-low-stock">
      <h2>Componentes em Low Stock</h2>
      <table>
        <thead>
          <tr>
            <th>Componente</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Componente 1</td>
            <td>20 unidades</td>
          </tr>
          <tr>
            <td>Componente 2</td>
            <td>10 unidades</td>
          </tr>
          <tr>
            <td>Componente 3</td>
            <td>10 unidades</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="relatorio-status-inventario">
      <h2>Relatório Status Inventário</h2>
      <form action="#">
        <select name="mes">
          <option value="novembro">Novembro</option>
          <option value="outubro">Outubro</option>
          <option value="setembro">Setembro</option>
          <option value="agosto">Agosto</option>
          <option value="julho">Julho</option>
        </select>
        <input type="submit" value="Gerar">
      </form>
    </section>
  </main>
</body>
</html>